<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="home.html">الرئيسية <i class="fa fa-chevron-right"></i></a></span> <span>تواصل معا <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">تواصل معنا </h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4" style="font-size: 28px; font-weight: 700;">تواصل معنا</h3>
                                <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="name" style="font-size: 20px; font-weight: 700;">الاسم الكامل</label>
                                                <input type="text" class="form-control" name="name" id="name" placeholder="الاسم" style="font-size: 18px; font-weight: 700;">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="email" style="font-size: 20px; font-weight: 700;">البريد الإلكتروني</label>
                                                <input type="email" class="form-control" name="email" id="email" placeholder="البريد الإلكتروني" style="font-size: 18px; font-weight: 700;">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject" style="font-size: 20px; font-weight: 700;">الموضوع</label>
                                                <input type="text" class="form-control" name="subject" id="subject" placeholder="الموضوع" style="font-size: 18px; font-weight: 700;">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="message" style="font-size: 20px; font-weight: 700;">الرسالة</label>
                                                <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="اكتب رسالتك هنا" style="font-size: 18px; font-weight: 700;"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" value="إرسال الرسالة" class="btn btn-primary" style="font-size: 20px; font-weight: 700;">
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 d-flex align-items-stretch">
                            <div class="info-wrap bg-primary w-100 p-md-5 p-4">
                                <h3 style="font-size: 28px; font-weight: 700;">ابق على تواصل معنا</h3>
                                <p class="mb-4" style="font-size: 18px; font-weight: 700;">نحن مفتوحون لأي اقتراح أو مجرد دردشة</p>
                                <div class="dbox w-100 d-flex align-items-start">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-map-marker" style="font-size: 22px;"></span>
                                    </div>
                                    <div class="text pl-3" style="font-size: 18px; font-weight: 700;">
                                        <p><span>العنوان:</span> محافظة المنيا</p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-phone" style="font-size: 22px;"></span>
                                    </div>
                                    <div class="text pl-3" style="font-size: 18px; font-weight: 700;">
                                        <p><span>الهاتف:</span> <a href="tel://01129725442" style="font-size: 18px; font-weight: 700;">+201129725442</a></p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-paper-plane" style="font-size: 22px;"></span>
                                    </div>
                                    <div class="text pl-3" style="font-size: 18px; font-weight: 700;">
                                        <p><span>البريد الإلكتروني:</span> <a href="monememad0@gmail.com" style="font-size: 16px; font-weight: 700;">monememad0@gmail.com</a></p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-globe" style="font-size: 22px;"></span>
                                    </div>
                                    <div class="text pl-3" style="font-size: 18px; font-weight: 700;">
                                        <p><span>الموقع الإلكتروني:</span> <a href="#" style="font-size: 18px; font-weight: 700;">yoursite.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
