@{

	Layout = "~/Views/Shared/_MyLayOut.cshtml";
}

<div class="formbold-form-wrapper">
	<img src="~/images/workflow-automation-thmb.jpeg" />
	<label class="formbold-form-label"> Application sent </label>
	<label class="formbold-form-label"> Best luck </label>
</div>