@{
	Layout = null;

}
<!DOCTYPE html>
<html lang="en">
<head>
<title>StudyLab - Free Bootstrap 4 Template by Colorlib</title>
<meta charset="utf-8">
<style>
* {
  margin: 0;
  padding: 0;
}
img {
    width: 900px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 40px;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: bold; /* جعل الخط عريض */
}
.aa {
            color: #6a64f1;
    font-size: 38px;
    line-height: 24px;
    display: flex;
    margin: 12px auto;
    text-align: center;
    align-content: center;
    align-items: center;

    padding:auto;
}

        .formboldbbtn {
  font-size: 29px;
  border-radius: 5px;
  padding: auto auto;
  border: none;
  font-weight: 900;
  background-color: #6a64f1;
  color: white;
  cursor: pointer;
  margin-top: 25px;
  text-decoration:none;
  display:flex;
text-align:center;
align-items:center;
justify-content:center;
  top:55%;
  left:35%;
  margin-top:150px;
  width: 200px;
  height:80px;
}

            .formboldbbtn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.as{
    display:flex;
    justify-content:center;
    align-content:center;
    text-align:center;
}

        .atm {
display: flex;
    flex-direction: column;
    align-items: center; /* لتوسيط العناصر أفقياً */
    justify-content: center; /* لتوسيط العناصر عمودياً */
    height: 20%;
    width:100%;
        }
        a{
            margin-top: 190px;
            display: flex;
            flex-direction: column;
            align-items: center; /* لتوسيط العناصر أفقياً */
            justify-content: center; /* لتوسيط العناصر عمودياً */
        }
    </style>

</head>
<body>

            <div class="atm">
	            <img src="~/images/workflow-automation-thmb.jpeg" />
	            <p class="aa"> تم الارسال </p>
	            <a asp-controller="Home" asp-action="Index" class="formboldbbtn">الصفحه الرئيسية</a>

            </div>



</body>
</html>