@model PasswordChangeVM
@{
    ViewData["Title"] = "Change Password";
}
<html dir="rtl" lang="ar">
<style>
    body{
        text-align:right;
        margin-right:55px
    }
</style>
<body>
<div class="m-auto w-75  bg-white p-5">
    <h1>تغيير الرمز السري</h1>
    @if (!string.IsNullOrEmpty(TempData["Message"] as string))
    {
        <div class="alert alert-primary mt-3 mb-2">
            @TempData["message"]
        </div>
    }
    <hr />


    <form asp-action="ChangePassword" method="post" enctype="multipart/form-data">

        <partial name="PartialView/_ChangePass" />

        <div class="form-group mt-4">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back</a>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

</body>
</html>
